html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* nth-child(1) = the first td in each tr */
td:nth-child(1) {
    width: 500px;
}
  
  /* the second */
td:nth-child(2) {
    width: 100px;
}
  
  /* the third */
td:nth-child(3) {
    width: 200px;
}

input[type=number] {
    width: 165px;
}

select {
    width: 165px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(233, 230, 230);
}


.text-center {
    text-align: center;
}

.table-center {
    margin: auto;
}

.block {
    display: block;
    line-height: 2;
}

#uiats_table {
    border-style: none;
}
  
#uiats_table td{
    border-style: none;
    padding:3px;
}

.Info {
    position: relative;
    top: 3px;

}

.InfoLeft {
    position: relative;
    top: 3px;
    left: 2px;
}

.border {
    margin: auto;
    width: 800px;
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}